<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../../Content/Lib/css/EditStyle.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script> 
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script> 
    <script type="text/javascript">
        //debugger; 调试时使用
        var gridManager = null;
        var gridsearch = "";
        function f_find() {
            if ($("#typename").val() != "") {
                gridsearch = " and (main.SaleDepartmentId='' or main.SaleDepartmentId  is null )";
                gridsearch += " and ast.SuppliesTypeName like '%" + $("#typename").val() + "%'";
            }
            else
                gridsearch = " and (main.SaleDepartmentId='' or main.SaleDepartmentId  is null )";
            if (!gridManager) return;
            gridManager.setOptions(
                { parms: [{ name: 'gridsearch', value: gridsearch}] }
             );
            gridManager.loadData(true);
        }
        //选中的耗材信息
        function f_isCheckedTid(rowdata) {
            var strtid = $("#tids").val().split(",");
            for (i = 0; i < strtid.length; i++) {
                if (rowdata.SuppliesTypeId == strtid[i]) {
                    return true;
                }
            }
            return false;
        }
        $(function () {
            gridsearch = " and (main.SaleDepartmentId='' or main.SaleDepartmentId  is null )";
            f_setGrid();
            var strdid = $("#dids").val();
            $("#DistrictNames").ligerComboBox({ isShowCheckBox: true, isMultiSelect: true,
                url: '/Archives/District/GetDistrictCombobox',
                valueFieldID: 'DistrictIds'
            });
        });
        function f_setGrid() {
            var state = "";
            gridManager = $("#maingrid").ligerGrid({
                columns: [
                { display: '耗材类型名称', name: 'SuppliesTypeName', align: 'left', width: 130, minWidth: 60 },
                { display: '耗材单位', name: 'UnitName', align: 'left', width: 180, minWidth: 60 },
                { display: '数量', name: 'Num', align: 'left', width: 180, minWidth: 60 }
                ], dataAction: 'server',
                url: "/Supplies/SuppliesStock/GridSelPager",
                sortName: 'Id',
                sortOrder: 'desc',
                parms: [{ name: "gridsearch", value: gridsearch}],
                width: '100%', pageSize: 10, height: '100%',
                checkbox: true, isChecked: f_isCheckedTid,
                heightDiff: -9,
                onError: function (a, b) {
                    debugger
                }
            });
        }
        function f_getdata() {
            var manager = $("#maingrid").ligerGetGridManager();
            //manager.getData();
            var rowsdata = gridManager.getCheckedRows();
            var strlen = rowsdata.length + parseInt($("#selLen").val());

            if (!rowsdata.length) {
                $.ligerDialog.alert('请先选择行!');
                return null;
            }
            if ($("#DistrictIds").val() == "") {
                $.ligerDialog.alert('请先所要分配区县!');
                return null;
            }
            var districtids = $("#DistrictIds").val();
            var districtnames = $("#DistrictNames").val();
            var arydistrictids = districtids.split(";");
            var arydistrictnames = districtnames.split(";");
            var ary = new Array();
            var allary = new Array();
            var orgary = new Array();
            for (var j = 0; j < arydistrictids.length; j++) {
                var orgId = new Object();
                orgId["DistrictId"] = arydistrictids[j];
                var addFlag = false;
                $(rowsdata).each(function (i, item) {
                    var Num = this.Num;
                    if (Num >= 1) {
                        var supplieType = new Object();
                        supplieType["SuppliesTypeId"] = this.SuppliesTypeId;
                        supplieType["SuppliesTypeName"] = this.SuppliesTypeName;
                        supplieType["UnitName"] = this.UnitName;
                        supplieType["DistrictId"] = arydistrictids[j];
                        supplieType["DistrictName"] = arydistrictnames[j];
                        supplieType["Num"] = 1;
                        supplieType["MaxNum"] = this.Num;
                        addFlag = true;
                        ary.push(supplieType);
                    }
                });
                if (addFlag == true) {
                    orgary.push(orgId);
                }
            }
            allary.push(orgary);
            allary.push(ary);
            return allary;
        }
    </script>
     <style type="text/css">
    #searchbar{margin:0px auto; width:100%; background:#F3F8F9;border-left: 1px solid #B6D3E0;border-bottom: 1px solid #B6D3E0;  border-right: 1px solid #B6D3E0; height:auto; line-height:auto;}
    </style>
</head>
<body style="padding:0px"> 
    <form id="form1" runat="server">
    <table width="100%">
    <tr style="width:100%"> <td class="Right_font" style="font-family:宋体; font-size:12px; ">选择区县：<span class="l-verify-star">*</span></td>
    <td  class="Left_font">
     <input type="text"  id="DistrictNames" name="DistrictNames" validate = "{required:true,minlength:1}" ltype = "text" />
              <input type="hidden" id="DistrictIds" name="DistrictIds" value="@ViewData["districtdids"]"/>     
     </td></tr>    
      
      </table>
    <div id="searchbar">
    <table width="100%"><tr><td width="100%" style="font-family:宋体; font-size:14px; height:23px;">
   耗材类型名称：<input type="text" id="typename" name="typename"/>
    <input type="button" value="查询" id="Button1" onclick="f_find()" style="width:40px;height:18px;" class="sel_btn" /> </td></tr></table>
    </div>
    <div id="maingrid"></div> 
    <input type="hidden" id="cityid" value="@ViewData["cityid"]" />
    <input type="hidden" id="dids" value="@ViewData["dids"]" />
    <input type="hidden" id="cids" value="@ViewData["cids"]" />
    <input type="hidden" id="tids" value="@ViewData["tids"]" />
    </form>
</body>
</html>
