<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@model QzgfFrame.Supplies.PayStandardManger.Models.SuppliesPayStandard
@{
    
    ViewBag.Title = "Register";
}       
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title> 
    <link href="../../../../Content/Lib/css/EditStyle.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery/jquery.form.js" type="text/javascript"></script>
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>  
     <script src="../../../../Lib/jquery-validation/jquery.validate.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/messages_cn.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/addmethod.js" type="text/javascript"></script>
    <script src="../../../../Lib/MyDatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="../../../../Content/Lib/js/common.js" type="text/javascript"></script>
    <script src="../../../../lib/json2.js" type="text/javascript"></script>
    <script src="../../../../Content/lib/js/Supplies/PayStandard.js" type="text/javascript"></script> 
</head>
<body style=" padding:1px;">

@using (Html.BeginForm("Edit", "PayStandard", FormMethod.Post, new { name = "newForm", id = "newForm" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <table cellpadding="0" border="0" cellspacing="0" class="edittable">
            <tbody>
                 <tr>
                 <td class="Right_font">起始时间：<span class="l-verify-star">*</span></td>
                     
                    <td class="Left_font">
                    @Html.TextBoxFor(m => m.StartDate, new { ltype = "text", onfocus = "WdatePicker({dateFmt:'yyyy-M-dd'}); " })
                    </td>
                    <td class="Right_font">终止时间 ：</td>
                     
                    <td class="Left_font">
                    @Html.TextBoxFor(m => m.EndDate, new { ltype = "text", onfocus = "WdatePicker({dateFmt:'yyyy-M-dd'}); " })
                    </td> 
                    
                </tr> 
                 <tr>
                    <td class="Right_font">装维类型：<span class="l-verify-star">*</span></td>
                     
                    <td class="Left_font">
                     @Html.DropDownList("MaintainTypeId", (SelectList)ViewData["maintainType"], new { style = "width:135px", ltype = "select" })
                    </td> 
                    <td class="Right_font">接入方式：<span class="l-verify-star">*</span></td>
                     
                    <td class="Left_font">
                     @Html.DropDownList("AccessWayId", (SelectList)ViewData["accessWay"], new { style = "width:135px", ltype = "select" })
                    </td>
                </tr> 
                 <tr>
                    <td class="Right_font">薪酬：<span class="l-verify-star">*</span></td>
                     
                    <td class="Left_font">
                     @Html.TextBoxFor(m => m.Pay, new { maxlength = "12", ltype = "text", validate = "{required:false,number:true}" })
                    </td> 
                </tr> </tbody>
</table>  
<table width="100%"><tr><td style="width:45%"></td>
<td><input type="submit" value="提 交" id="Button1" class="l-button l-button-submit" /> 
<input type="button" value="返 回" class="l-button l-button-test" onclick="javascript:window.location.href = '/Supplies/PayStandard/';"/></td></tr></table>                  
   
    </div> 
    }
    
</body>
</html>
