<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@model QzgfFrame.Exam.SubjectManger.Models.SubjectContent
@{
    
    ViewBag.Title = "Register";
}       
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title> 
    <link href="../../../../Content/Lib/css/Exam/EditSubject.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Lib/css/autoSearchText.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery/jquery.form.js" type="text/javascript"></script>
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>  
    <script src="../../../../Lib/jquery-validation/jquery.validate.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/messages_cn.js" type="text/javascript"></script>
    <script src="../../../../lib/json2.js" type="text/javascript"></script>
    <script src="../../../../Content/Lib/js/common.js" type="text/javascript"></script>
    <script src="../../../../Content/lib/js/subject.js" type="text/javascript"></script>
    <script src="../../../../Content/lib/js/Exam/EditMultiple.js" type="text/javascript"></script>   
    <script type="text/javascript">
            //debugger;
    </script>
</head>
<body style=" padding:1px;">

@using (Html.BeginForm("Edit", "Subject", FormMethod.Post, new {name = "newForm", id = "newForm" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <input name='state' type='hidden' id='state' value=@ViewBag.state />
        <table cellpadding="0" border="0" cellspacing="0"  width="100%" class="edittable">
            <tbody>
            @Html.HiddenFor(m => m.ExamSubContent.Id)
            @Html.HiddenFor(m => m.ExamSubContent.CreatorId)
                <tr>
                    <td class="Right_font">试题类型：</td>
                    <td class="Left_font">选择题</td>
                </tr>
                <tr>
                    <td class="Right_font">试题内容：<span class="l-verify-star">*</span></td>
                    <td class="Left_font">@Html.TextAreaFor(m => m.ExamSubContent.Content, new { cols = "120" })</td>
                </tr>
                 <tr>
                    <td class="r_font">选项：<span class="l-verify-star">*</span></td>
                    <td class="l_font">
                    <table border="0" cellpadding="0" cellspacing="0" id="subjectFrame"  class="com_tab">
                      <tr class="hno">
                        <td class="tr_top"></td>
                        <td class="tr_top">&nbsp;序号&nbsp;</td>
                        <td class="tr_top">选项内容：</td>
                        <td class="tr_top"><div align='center'>答案</div></td>
                        <td class="tr_top"><div align='center'><input type="button" name="Submit" value="新增选项" onclick="AddMultipleRow()" /></div></td>                      
                      </tr>
@{var j = 1;}
 @foreach (var n in Model.MultipleSubject as IList<QzgfFrame.Exam.MultipleSubjectManger.Models.ExamMultipleSubject>)
 {
     var OrderNo = "OrderNo" + j; var MultipleContent = "MultipleContent" + j; var Answer = "Answer" + j;
     var SignItemn = "SignItem" + j; var No = "";
     
         
                     <tr id='@SignItemn'>
                        <td class="tr_top" style=" text-align:right"><input name='@OrderNo' type='hidden' id='@OrderNo' value="@n.OrderNo"  /></td>
                        @{switch (@n.OrderNo)
                          {
                              case "1": { No = "A"; break; }
                              case "2": { No = "B"; break; }
                              case "3": { No = "C"; break; }
                              case "4": { No = "D"; break; }
                              case "5": { No = "E"; break; }
                              case "6": { No = "F"; break; }
                              case "7": { No = "G"; break; }
                              case "8": { No = "H"; break; }
                              case "9": { No = "I"; break; }
                              case "10": { No = "J"; break; }
                              case "11": { No = "K"; break; }
                              case "12": { No = "L"; break; }
                              case "13": { No = "M"; break; }
                              case "14": { No = "N"; break; }
                              case "15": { No = "O"; break; }
                              case "16": { No = "P"; break; }
                              case "17": { No = "Q"; break; }
                              case "18": { No = "R"; break; }                          
                          }
                         }
                        <td class="tr_top"><div align='center'><span>@No：</span></div></td>
                        <td class="tr_top"><input size='120' name='@MultipleContent' id='@MultipleContent' type='text' value="@n.MultipleContent"/></td>               
                        <td class="tr_top">
                        <div align='center'>
                        @if(@n.Answer==true)
                        {
                          <input name='Answer'  id='@Answer'  type="radio" checked="checked"  />
                        }
                        else
                        {
                         <input name='Answer'  id='@Answer'  type="radio"  />
                        }   
                        </div>                 
                        </td>
                        @if(Model.MultipleSubject.Count>2)
                        {
                            <td class="tr_top"><div align='center'><a href='javascript:;' id='Del' onclick="DeleteMultipleRow('@SignItemn')">删除</a></div></td>
                        }
                          else
                        {
                            <td class="tr_top"><div align='center'></div> </td>
                        }                        
                     </tr>
                        j++;
 }
                   </table>
                   <input name='txtTRLastIndex' type='hidden' id='TRLastIndex' value="@j" />
                   @Html.HiddenFor(m => m.multiples)
                    </td>
                </tr>
                <tr>
                    <td class="Right_font" width="12%">试题等级：<span class="l-verify-star">*</span></td>
                    <td class="Left_font"> @Html.DropDownList("ExamSubContent.ScaleGradeId", (SelectList)ViewData["selscalegradeType"]) </td>
                </tr>
                <tr>
                    <td class="Right_font" width="12%">科目类型：<span class="l-verify-star">*</span></td>
                    <td class="Left_font">
                     @Html.DropDownList("ExamSubContent.CourseTypeId", (SelectList)ViewData["selcourseType"]) 
                     @Html.HiddenFor(m => m.ExamSubContent.TypeId)
                     </td>
                </tr>               
            </tbody>
        </table>
        <table width="100%">
          <tr>
            <td style="width:45%"></td>
            <td><input type="submit" value="提 交" id="Button1" class="l-button l-button-submit" /> 
                <input type="button" value="返 回" class="l-button l-button-test" onclick="f_windowclose()"/>
            </td>
          </tr>
        </table> 
    </div> 
}
    
</body>
</html>
