<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@model QzgfFrame.Exam.TestManger.Models.TestContent
@{
    
    ViewBag.Title = "Register";
}       
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>在线考试页面</title> 
    <link href="../../../../Lib/ligerUI/skins/Silvery/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Lib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery/jquery.form.js" type="text/javascript"></script>
    <script src="../../../../Lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>  
    <script src="../../../../Lib/ligerUI/js/plugins/ligerLayout.js" type="text/javascript"></script>  
    <script src="../../../../Lib/jquery-validation/jquery.validate.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery-validation/messages_cn.js" type="text/javascript"></script>
    <script src="../../../../lib/json2.js" type="text/javascript"></script>
    <script src="../../../../Lib/jquery/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>
    <script src="../../../../Lib/MyDatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="../../../../Content/Lib/js/common.js" type="text/javascript"></script>
    <script src="../../../../Content/lib/js/Exercises.js" type="text/javascript"></script>
    <script type="text/javascript">
        //var CurID =  <%=CurID %>;
        var Validator = null;
        var SysSecond;
        var InterValObj;

        $(function () {
            $("#newForm").ligerForm();
            deafultValidate($("#newForm"));
            var options = {
                dataType: 'json',      //期望服务器的的回应的类型。null、"xml"、"script"或者"json"其中之一。
                beforeSubmit: showRequest,
                error: showError,
                success: showResponse
            };
            $('#newForm').ajaxForm(options);

            $.metadata.setType("attr", "validate");

            //考试倒计时
            SysSecond = parseInt($("#hbnTimeLength").val()); //这里获取倒计时的起始时间  
            //window.setInterval功能：按照指定的周期（以毫秒计）来调用函数或计算表达式。
            InterValObj = window.setInterval(SetRemainTime, 1000); //间隔函数，1秒执行  
        });

        //考试倒计时,将时间减去1秒，计算天、时、分、秒  
        function SetRemainTime() {
            if (SysSecond > 0) {
                SysSecond = SysSecond - 1;
                //Math.floor数学函数，求一个浮点数的地板，就是求一个最接近它的整数，它的值小于或等于这个浮点数。
                var second = Math.floor(SysSecond % 60);             // 计算秒      
                var minite = Math.floor((SysSecond / 60) % 60);      //计算分  
                var hour = Math.floor((SysSecond / 3600) % 24);      //计算小时  

                $("#remainTime").html("考试剩余时间:" + hour + "小时" + minite + "分" + second + "秒");
            } else {
                //剩余时间小于或等于0的时候，就停止间隔函数;window.clearInterval取消由setInterval()方法设置的定时器。
                window.clearInterval(InterValObj);

                //考试时间结束后,将不可以再答题
                $("input[name!='submit']").attr("disabled", "disabled");
            }
        }

        //提交成功时的数据
        function showRequest(formData, jqForm, options) {
            var tableNum = $("#tableNum").val() - 1;
            $("#exercisesData").val(JSON2.stringify(GetExercisesData(tableNum)));
            $.ligerDialog.waitting("正在保存中...");
            return true;
        }

        //提交出错返回信息
        function showError(data) {
            alert("showError " + data.Message);
        }

        //提交成功后跳转
        function showResponse(data, status) {
            if (data.Type) {
                $.ligerDialog.success(data.Message);
                window.location.href = "/Exam/OnlineExam/ExercisesList";
            }
            else {
                $.ligerDialog.closeWaitting();
                alert(data.Message);
            }
        }
    </script>
    <style type="text/css">
        .edittable .editcellmessage,.edittable .editcellverify,.edittable .editcell{ padding:4px;line-height:23px;}
        .edittable .editcellmessage{ padding-left:20px;} 
        body { font-size:12px; background:white;}
         
    </style>
</head>
<body style=" padding:4px;">
<div>

    <div id="remainTime" style="font-size:20px;font-weight:800;color:#FF9900"></div>  
    @Html.Hidden("hbnTimeLength", @ViewData["hbnTimeLength"])

    <div id="top">
        @Html.HiddenFor(m => m.ExamTestContent.ID)
        <div id="testname">@Model.ExamTestContent.Name</div>
        <div id="testpoints">总分：@Model.ExamTestContent.Points</div>
        <div id="currentpoints">考试时长：分钟</div>
        <div id="testtype">试卷类型：@Model.TestType</div>
    </div> 
 
 @using (Html.BeginForm("SubmissionOfData", "OnlineExam", FormMethod.Post, new { enctype = "multipart/form-data", name = "newForm", id = "newForm" }))
 {
        <div id="preview">
        <div id="Previewtestsubjects">试卷</div>
            @Html.HiddenFor(m=>m.ExamTestContent.ID)
              @{var l = 1; var tableNo = 1;}
              @foreach (var n in Model.TestSubjectsType as IList<QzgfFrame.Exam.TestSubjectTypeManger.Models.TestSubjectType>)
              {
                  var previewtypeOrderNo = "previewtypeOrderNo" + l;
                  <div id='@previewtypeOrderNo'>
                    <div>@n.ExamTestSubjectType.TypeName</div>
                    <div>@n.ExamTestSubjectType.Explaination</div>               
                  </div>
                  <div>
                  @{var h = 1;}
                  @{foreach (var m in n.TestSubjects as IList<QzgfFrame.Exam.TestSubjectManger.Models.ExamTestSubject>)
                    {
                        var previewsubjectOrderNo = "previewsubjectOrderNo" + tableNo;
                      <table cellpadding="0" border="1" cellspacing="0" class="edittable" id='@previewsubjectOrderNo'>
                      <tr>
                        <td>
                            @m.OrderNo
                            @Html.Hidden("hdnTypeName", n.ExamTestSubjectType.TypeName)
                            @Html.Hidden("hdnSubjectID", m.SubjectID)
                        </td>
                        <td>@n.SubjectContents[h - 1].ExamSubContent.Content <div style="color:Red">(@m.Score 分)</div></td>
                      </tr>
                       @{var type = n.SubjectContents[h - 1].SubjectType;
                         var g = 1;
                         var trMultiples = "";
                         var trFillBlanks = "";
                         var trJudges = "";
                         var Answer = "Answer" + h;//将选择题的radio分组
                         switch (type)
                         {
                             case "选择题":
                                 var Multiples = n.SubjectContents[h - 1].MultipleSubject as IList<QzgfFrame.Exam.MultipleSubjectManger.Models.ExamMultipleSubject>;

                                 foreach (var o in Multiples)
                                 {
                                     var multiplesOrderNo = "OrderNo" + g; var multiplesAnswer = "multiplesAnswer" + g;
                                     trMultiples = "testSignItemn" + g;
                                     var MultiplesTestSubjectId = "MultiplesTestSubjectId" + g;
                                     var MultiplesSubjectTypeID = "MultiplesSubjectTypeID" + g;
                                  <tr id='@trMultiples'>
                                    <td>
                                        <input name='@multiplesOrderNo' type='hidden' id='@multiplesOrderNo' value="@o.OrderNo"  />
                                        <input name='@MultiplesTestSubjectId' type='hidden' id='@MultiplesTestSubjectId' value="@m.ID"  />
                                        <input name='@MultiplesSubjectTypeID' type='hidden' id='@MultiplesSubjectTypeID' value="@n.ExamTestSubjectType.SubjectTypeID"  />
                                    </td>
                                    <td>
                                        @o.MultipleContent
                                        <input name='@Answer'  id='@multiplesAnswer' value="@o.OrderNo"  type="radio" />
                                    </td>
                                  </tr>
                                     g++;
                                 }
                                 break;
                             case "填空题":
                                 var FillBlanks = n.SubjectContents[h - 1].FillBlanksSubject as IList<QzgfFrame.Exam.FillBlanksSubjectManger.Models.ExamFillBlanksSubject>;
                                 foreach (var o in FillBlanks)
                                 {
                                     var fillblanksOrderNo = "OrderNo" + g; var fillblanksAnswer = "fillblanksAnswer" + g;
                                     trFillBlanks = "testSignItemn" + g;
                                     var FillBlanksTestSubjectId = "FillBlanksTestSubjectId" + g;
                                     var FillBlanksSubjectTypeID = "FillBlanksSubjectTypeID" + g;
                                  <tr id='@trFillBlanks'>
                                    <td>
                                        <input name='@fillblanksOrderNo' type='hidden' id='@fillblanksOrderNo' value="@o.OrderNo"  />
                                        <input name='@FillBlanksTestSubjectId' type='hidden' id='@FillBlanksTestSubjectId' value="@m.ID"  />
                                        <input name='@FillBlanksSubjectTypeID' type='hidden' id='@FillBlanksSubjectTypeID' value="@n.ExamTestSubjectType.SubjectTypeID"  />
                                    </td>
                                    <td>
                                        <input name='@fillblanksAnswer' id='@fillblanksAnswer' type='text' size='50'/>
                                    </td>
                                  </tr>
                                     g++;
                                 }
                                 break;
                             case "判断题":
                                 var Judges = n.SubjectContents[h - 1].JudgeSubject as IList<QzgfFrame.Exam.JudgeSubjectManger.Models.ExamJudgeSubject>;
                                 foreach (var o in Judges)
                                 {
                                     var judgesTrue = "judgesTrue" + g;
                                     var judgesFalse = "judgesFalse" + g;
                                     trJudges = "testSignItemn" + g;
                                     var JudgesOrderNo = "JudgesOrderNo" + g;
                                     var JudgesTestSubjectId = "JudgesTestSubjectId" + g;
                                     var JudgesSubjectTypeID = "JudgesSubjectTypeID" + g;
                                  <tr id='@trJudges'>   
                                    <td>
                                        <input name='@JudgesTestSubjectId' type='hidden' id='@JudgesTestSubjectId' value="@m.ID"  />
                                        <input name='@JudgesSubjectTypeID' type='hidden' id='@JudgesSubjectTypeID' value="@n.ExamTestSubjectType.SubjectTypeID"  />
                                    </td>
                                    <td>
                                        <input name='Answer'  id='@judgesTrue'  type="radio" value="1"  />正确
                                        <input name='Answer'  id='@judgesFalse'  type="radio" value="0"  />错误
                                    </td>
                                  </tr>
                                     g++;
                                 }
                                 break;
                         }
                      }                                   
                      </table>
                         h++;
                         tableNo++;
                    }
                }
                  </div>
                    l++;
              }
              @Html.Hidden("tableNum", @tableNo)
              @Html.HiddenFor(m => m.exercisesData)
       </div> 
     <input type="submit" value="提 交" name="subsubmit"  id="subsubmit" size="40" />
 }           
  </div>
    
</body>
</html>
