@model QzgfFrame.Resources.DedicateLineManger.Models.DedicateLine
@{
    
    ViewBag.Title = "Register";
}       
<script src="@Url.Content("~/Content/lib/js/Resources/DisplayLine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/lib/js/Resources/EditInternet.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "DedicateLine", FormMethod.Post, new { enctype = "multipart/form-data", name = "newForm", id = "newForm", autocomplete = "off" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div style=" top:0;width:100%; ">
    <table border="0" width="100%" class="edittable" cellspacing="0" align="center">
    <tr> <td  class="Right_font" width="10%">业务类型：<span class="l-verify-star">*</span></td>
    <td class="Left_font" width="15%"  colspan="5"> 
   @Model.BizTypeName
   </td></tr>
    <tr>
     <td  class="Right_font" width="10%">选择集团编号：<span class="l-verify-star">*</span></td>
    <td class="Left_font" width="15%"> 
   @Model.ClieNo
    @Html.HiddenFor(m => m.ClieId)
<input type="hidden" id="frameid" name="frameid" value="@ViewData["frameid"]" />
    <input type="hidden" id="selClie" value="@ViewData["selgroupclie"]" />
     </td>
    <td class="Right_font"  width="12%">集团名称：<span class="l-verify-star">*</span></td>
    <td colspan="3" class="Left_font"> 
    @Model.ClieName
    
    @Html.HiddenFor(m => m.DediLine.Id)
    @Html.HiddenFor(m => m.DediLine.ClieId)
    @Html.HiddenFor(m => m.DediLine.BizTypeId) 
    @Html.HiddenFor(m => m.editFlag)
    </td>
    </tr>
    <tr>
    <td class="Right_font">所属区县：<span class="l-verify-star">*</span></td>
      <td class="Left_font">               
       @Model.DistrictName              
      </td>  
      <td class="Right_font">所属公司：<span class="l-verify-star">*</span></td>             
        <td class="Left_font"  colspan="" >             
        @Model.CompanyName              
      </td>  
      <td class="Right_font">状态：<span class="l-verify-star">*</span></td>             
        <td class="Left_font"  colspan="" >             
       @Model.State              
       </td>              
</tr>  
    <tr>
    <td class="Right_font" width="10%"> 组网方式：<span class="l-verify-star">*</span></td>
    <td colspan="5" class="Left_font">@Model.NetWorkingMode 
    @Html.HiddenFor(m => m.NetWorkingMode)</td>
    </tr>
    
    <tr>
    <td class="Right_font" width="10%">业务保障等级：<span class="l-verify-star">*</span></td>    
    <td class="Left_font">@Model.AssuranLeveName  </td>
    <td  class="Right_font" width="10%">合同带宽：<span class="l-verify-star">*</span></td>
    <td class="Left_font">@Model.DediLine.ContractBandwidth M</td>
    <td  class="Right_font" width="10%">实际带宽: <span class="l-verify-star">*</span></td>
    <td class="Left_font"> @Model.DediLine.ActualBandwidth M
    </td>
    </tr>
    
     <tr> <td class="Right_font" width="10%">VLAN号 <span class="l-verify-star">*</span></td>
     <td   class="Left_font" >  @Model.DediLine.VLANNumber</td>
     <td class="Right_font"  width="10%"> 网关地址 <span class="l-verify-star">*</span></td>
   <td  class="Left_font" colspan="3" style="word-wrap : break-word; ">   @Model.DediLine.GateWay</td>
   </tr>
   <tr><td class="Right_font" width="10%"> 客户IP地址 <span class="l-verify-star">*</span></td> 
   <td  class="Left_font" style="word-wrap : break-word; ">   @Model.DediLine.IP</td>
   <td class="Right_font" width="10%"> 子网掩码 <span class="l-verify-star">*</span></td> 
   <td  class="Left_font" colspan="3" style="word-wrap : break-word; ">    @Model.DediLine.SubnetMask
   </td></tr>
    <tr><td colspan="6" class="Left_Bottom"> 
    <div class="tab"> 
  <table width="100%" class="table1"><tr>
  <td id="zstation" class="tab_tit">基站端传输（Z端）</td>
  <td id="aciytnett" class="tab_tit">城域网传输（A端）</td>  
  <td id="bizcomroom" class="tab_tit">接入全业务机房</td>
  <td id="citynet" class="tab_tit">城域网交换机</td>   
  <td id="bizequip" class="tab_tit">业务设备</td>
  <td id="core" class="tab_tit">纤芯</td>
  <td id="files" class="tab_tit">上传资料</td>
  <td class="tab_b">&nbsp;</td>
  </tr>
  </table>
    <ul class="ulcss" style=" clear:both">
<li class="zstation">
<table class="tab_li_tab"><tr>
<td class="tab_right_font"  width="12%">接入基站名称：<span class="l-verify-star">*</span></td>
  <td class="tab_left_font"  width="23%"> @Model.DediLine.StationName</td> 
    <td class="tab_right_font" width="15%" ><label for="username">基站传输设备及端口：<span class="l-verify-star">*</span></label></td> 
   <td class="tab_left_font"> @Model.DediLine.StationTEquipAndPort</td> 
   <td class="tab_right_font" width="15%" > <label for="username">电路编号：<span class="l-verify-star">*</span></label></td> 
   <td class="tab_left_font"> @Model.DediLine.CircuitNumber</td> 
</tr>
</table>
</li>
<li class="aciytnett"> 
<table  class="tab_li_tab"><tr>
<td class="tab_right_font"  width="12%">机房传输设备：<span class="l-verify-star">&nbsp;</span></td>
<td class="tab_left_font"  width="23%">
    @Model.DediLine.ComputRoomtTEquip
    </td><td class="tab_right_font"  width="12%">端口：<span class="l-verify-star">&nbsp;</span></td>
    <td class="tab_left_font">@Model.DediLine.ComputRoomtTEquipPort
</td></tr>

</table>
</li>
<li class="bizequip"> 
<table  class="tab_li_tab"><tr>
<td class="Left_Bottom">
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="lineEquipFrame" class="com_tab" >
               <tr  class="tno">
                 <td width="40%"> 业务设备名称 <span class="l-verify-star">*</span></td>
                <td >业务设备端口 <span class="l-verify-star">*</span></td>
              </tr>
 @foreach (var lequip in Model.lineEquipList as IList<QzgfFrame.Resources.LineEquipManger.Models.ResourceLineEquip>)
 {
          <tr  class="bno">
               <td >@lequip.EquipName </td>
                <td  >@lequip.OccupyPort</td>
                </tr>                                                                                    
 }
        </table>
                </td>
                </tr>
<tr ><td  align="left" style=" background-color:#fff;"><span class="l-verify-star" id="displyMsg" ></span></td></tr>            

</table>
</li>
<li class="bizcomroom">
<table  class="tab_li_tab"><tr><td class="tab_right_font"  width="12%">
接入全业务机房名称：<span class="l-verify-star">*</span></td>
   <td class="tab_left_font"  width="23%"> @Model.DediLine.BizComputRoomName</td>
   <td class="tab_right_font"  width="12%"> <label for="username">OLT设备及端口：<span class="l-verify-star">*</span></label></td>
   <td class="tab_left_font"  width="23%"> @Model.DediLine.OLTEquipAPort</td>
   <td class="tab_right_font"  width="12%"> <label for="username">LOID：<span class="l-verify-star">&nbsp;</span></label></td>
  <td class="tab_left_font">  @Model.DediLine.LOID</td>
</tr>

</table>
</li>
<li class="citynet"> 
<table  class="tab_li_tab"><tr><td class="tab_right_font"  width="12%">城域网接入交换机：<span class="l-verify-star">*</span></td>
    <td class="tab_left_font"  width="23%">@Model.DediLine.CityNetSwitch
    </td><td class="tab_right_font"  width="12%">端口：<span class="l-verify-star">*</span></td>
    <td class="tab_left_font">@Model.DediLine.CityNetSwitchPort
</td></tr>
</table>
</li>
<li class="core"> 
<table width="100%" border="0" cellpadding="2" cellspacing="1" id="SignFrame"   class="tab_li_tab">
@{var i = 0;}
 @foreach (var fc in Model.FiberCores as IList<QzgfFrame.Resources.FiberCoreManger.Models.ResourceFiberCore>)
 {
     var SeqNo = "SeqNo" + i; var BaseStationName = "BaseStationName" + i; var ODUStation = "SeqNo" + i;
     var Core = "Core" + i; var SignItem = "SignItem" + i;
     if (i == 0)
     {
              <tr id="trHeader">
                <td style="width:20%">从 @fc.BaseStationName &nbsp;跳纤点</td>
                <td  >@fc.ODUStation</td>
                <td style="width:40%">至&nbsp;@fc.Core</td>
              </tr>
     }

     else if (i == Model.FiberCores.Count - 1)
     {
              <tr >
                 <td  >@fc.BaseStationName 至客户端</td>
                  <td  >@fc.ODUStation</td>
                <td >至&nbsp;@fc.Core</td>
              </tr>
     }
     else
     {
         <tr id='@SignItem'>
                <td >经 @fc.BaseStationName&nbsp;跳纤点</td>
                <td  >@fc.ODUStation</td>
                <td >至&nbsp;@fc.Core</td>
              </tr>
     }
     i++;
 }
 @{i = i - 1;}
        </table>
        <input name='txtTRLastIndex' type='hidden' id='txtTRLastIndex' value="@i" />
         @Html.HiddenFor(m => m.forces)
</li>

<li class="files">
<table  class="tab_li_tab"><tr><td class="tab_msg">
<div id="T7-list" style="border:#DFDFDF solid 1px; padding-left:10px;">
 <table id="FileFrame" class="tabfile">
 @{var k = 0; if (Model.OtherInfos != null)
   {
       if (Model.OtherInfos.Count > 0)
       {
           foreach (var info in Model.OtherInfos as IList<QzgfFrame.Resources.OtherInfoManger.Models.ResourceOtherInfo>)
           {
               var SignItemF = "SignItem" + k; var Id = "Id" + k; 
 <tr id='@SignItemF'><td style="width:0px;"><input name='@Id' type='hidden' value="@info.Id" /></td>
 <td style="width:30px;"><a class="MultiFile-remove" href="#T7_wrap"  ><img src="../../../../Content/Lib/images/index/show_file.png" height="16" width="16" alt="x"/></a></td>
 <td class="MultiFile-title"><a href="../../../Upload/OtherInfo/Internet/@info.LoadFileName">@info.InfoFileName </a></td></tr>
                                                                                        k++;
           }
       }
       else
       {
       <tr><td colspan="3">没有资料文件!!</td></tr>
       }
   }
}
</table>
 @Html.HiddenFor(m => m.delArys)
  </div>
  </td></tr></table>
</li>
    </ul>
    </div>
     </td></tr>
    <tr id="ddf"><td class="Right_font" width="10%">
    DDF架传输侧位置:<span class="l-verify-star">&nbsp;</span>
    </td><td class="Left_font">@Model.DediLine.DDFT</td>
    <td class="Right_font">DDF架设备侧位置：<span class="l-verify-star">&nbsp;</span></td>
    <td colspan="3" class="Left_font">@Model.DediLine.DDFE</td>
   </tr>
   <tr>
<td class="Right_font" width="10%">接入日期：<span class="l-verify-star">*</span></td>
<td  class="Left_font"> @string.Format("{0:D}", Model.DediLine.StartDateTime)</td>
<td class="Right_font" width="10%">专线编号：<span class="l-verify-star">*</span></td>
<td colspan="3" class="Left_font"> @Model.DediLine.ProductNo</td>
</tr>
 <tr>
<td  class="Right_font" width="10%">是否接入本地网管：<span class="l-verify-star">&nbsp;</span></td>
<td class="Left_font">
@{
var selFalgT = "否";
if (Model.DediLine.IsAccessLocalNet == 1)
{
    selFalgT = "是";
}
else
{
    selFalgT = "否";
}
}
    @selFalgT
</td>
<td class="Right_font">接入本地网管平台名称：<span class="l-verify-star">&nbsp;</span></td>
<td colspan="3" class="Left_font">
@Model.DediLine.AccessLocalNet

</td>
</tr>
<tr>
<td  class="Right_font" width="10%">是否接入省网管监控：<span class="l-verify-star">&nbsp;</span></td>
<td class="Left_font">
@{
var selPFalgT = "否";
if (Model.DediLine.IsAccessProviNet == 1)
{
    selPFalgT = "是";
}
else
{
    selPFalgT = "否";
}
}
@selPFalgT
</td>
<td class="Right_font">接入省网管平台名称：<span class="l-verify-star">&nbsp;</span></td>
<td colspan="3" class="Left_font">
@Model.DediLine.AccessProviNet

</td>
</tr>
<tr>
<td class="Right_font" width="10%">备注：<span class="l-verify-star">&nbsp;</span></td>
<td  colspan="5" class="Left_font">@Model.DediLine.Remark</td>
</tr>
</table>  
             
    </div> 
}